[submodule "vendor/phaser_modals"]
	path = vendor/phaser_modals
	url = https://github.com/netgfx/phaser_modals.git
[submodule "phaser_modals"]
	path = phaser_modals
	url = https://github.com/netgfx/phaser_modals.git
